.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  .modal-wrapper{
    position: relative;
    animation: fadeIn 0.1s, slideIn 0.1s linear;
    background-color: #FFCF99;
    border: none;
    border-radius: 20px;
    min-width: 288px;
    max-width: 90%;

    .close-icon{
      position: absolute;
      cursor: pointer;
      height: 25px;
      width: 25px;
      top: 20px;
      right: 20px;
    }

    .modal-body {
      padding: 15px;
      width: calc(100% - 30px);
      word-break: break-word;

      .modal-title {
        font-size: 28px;
        text-align: center;
        color: #1E1E24;
      }

      .modal-info {
        font-size: 14px;
        text-align: center;
        color: #1E1E24;
      }
    }

    &.modal-exit {
      animation: fadeOut 0.1s, slideOut 0.1s linear forwards;
    }
  }

  &.big-modal {
    .modal-wrapper{
      min-width: 400px;
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-10px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-in;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(-10px);
    animation-timing-function: ease-out;
  }
}